.mcar {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: #5f77ed;
}

#wrapper {
    width: 100%;
    position: relative;
}

#carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
    height: 0;
}

#prev,
#next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: 1px solid #8073f4;
    outline: 0;
    cursor: pointer;
    position: absolute;
}

#prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
}

#next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

#content {
    display: grid;
    grid-gap: 6px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}

.item {
    width: 180px;
    height: 180px;
    background: rgb(116, 117, 116);
    border: 5px solid #efeaea;
    border-radius: 5px;
    cursor: pointer;
}